// Remove default body styling and add the default font and color.
body {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $text-color;
}

// Allow sections to display in row using flexbox.
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

// Remove section margins that are primary containers. Ensure the 
// contents of a section can not become to large as well.
body > section {
    margin: 0;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 20px;

    > * {
        width: $content-max-width;
        max-width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
}

// Show elements as centered when requested.
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

// Special consideration goes to the title which is much larger.
#title-section header {
    width: $large-content-max-width;
}

// Create sections that can have background images.
section.has-image::before {
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

// Change the background color of the 
section.has-image {
    background-color: rgba(0, 0, 0, $has-image-opacity) !important;
}

// The title section also has a cool background image.
#title-section::before {
    background-attachment: fixed;
}


// Specify the activities sections lack of normality.
#activities .contents  {
    max-width: 95vw;
    width: $large-content-max-width;
}

#activities .contents .text-content {
    width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
}

// Show the large factor of the icons.
#activities .icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

// Show each icon as a box with an icon.
.icon-container article.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 30px;

    // Make space between the arrow and the other elements.
    &:nth-last-child(2) {
        margin-left: 85px;

        .fa { font-size: $icon-size / 2; }
    } 

    .fa {
        font-size: $icon-size;
        display: block;
    }

    img {
        color: white;
        height: $icon-size;

        // Only for black images to make them white.
        filter: invert(100%);
    }

} 


// Titles should show as large and bold.
header h1 { font-size: $large-heading-size; }
header h2 { font-size: $medium-heading-size; }
header h3 { font-size: $small-heading-size; }

