// Remove default body styling
body {
    margin: 0;
    padding: 0;
}

// Allow sections to display in row using flexbox.
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

// Remove section margins that are primary containers.
body > section {
    margin: 0;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

// Titles should show as large and bold.
h1 { font-size: $large-heading-size; }
h2 { font-size: $medium-heading-size; }
h3 { font-size: $small-heading-size; }

